.ps-screen {
  overflow: hidden;
}

.ps-content {  
  padding: 0 20px; 
  height: 100%;
}

.ps-control {
  display: none;
  position: absolute;
  z-index: 1;
  bottom: 10px;
  padding: 10px;
  width: 620px;
  margin: 0 auto;
  height: 20px;
  background-color: rgba(0,0,0,0.8);
  border-radius: 6px;
}

.ps-screen:hover .ps-control {
  display: block;
}

.ps-control a {
  color: #fff;
  font-size: 16px;
}

.ps-control a[ref='prev'] {
  display: inline-block;
  float: left;
  margin-left: 20px;
}

.ps-control a[ref='next'] {
  display: inline-block;
  float: right;
  margin-right: 20px;
}

.ps-control a[ref='prev']:before {
  content: "<";
}

.ps-control a[ref='next']:before {
  content: ">";
}

.ps-scene {
  color: #fff;
  position: relative;
  top: 50%;
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  word-break: break-all;
}
